html,
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: whitesmoke;
}
.app {
    min-height: 100vh;
    text-align: center;
}
.my-footer {
    margin-top: 5em;
    text-align: center;
    line-height: 9px;
    font-size: 14px;
}
.my-footer hr {
    opacity: 0.3;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* END OF BOILER Styles */
